/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Mobile  Layout */

.wrapper,
.wrapper-body {
  display: flex;
  flex-direction: column;
}

.nav{
	order: -1
}

/* Desktop  styles */

@media (min-width: 768px) {
  .wrapper-body {
    flex-direction: row;
    flex: 1;
  }
  .content {
    flex: 1;
  }
  .nav, .sidebar {
    /* 12em is the width of the columns */
    flex: 0 0 6em;
  }
}

/* Mobile Styles */

body{
	font-family: helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	background: #FFF;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

header{
	text-align: center;
	padding: 1em;
	background: #5786c1;
	color: #fff;
}

.content{
	background: #dfdfdf;
	text-align: center;
}

.string h3{
	border: 1px solid black;
	padding: .5em;
	background: #fff;
}

.string li{
	background-color: #FFF;
	padding: .5em;
	border: 1px solid black;
}

.string li:last-child{
	background: #ccc;
}

.string button{
	margin: .25em;
	outline: none;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

button, .button, input[type=submit] {
  border: 0;
  background: #5786c1;
  color: white;
  padding: .2em;
  font-size: 1.25em;
  text-decoration: none;
  display: inline-block;
  /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}
button:hover, button:focus, button.hover, button.focus, .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}
button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
  transform: translate(4px, 4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}

.submit{
	background: #ccc;
}

.options{
	border: 1px solid black;
	margin: 1em;
}

.options ul{
	padding: 1em;
}

.options button{
	margin: .5em;
}
@media (min-width: 768px) {

.content{
	margin-top: 2em;
	border: 1px solid black;
}

.string{
	display: inline-block;
	padding: 1em 0 0 0;

	width: 16%;
	}

.string li h3{
	padding: .25em;
}

.options{
	display: inline-block;
	width: 33%;
}



}
